# ===== C++ =====

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk

# Logs
*.log
*.tlog
*.lastbuildstate
*.recipe
*.idb
*.pdb

# ===== Visual Studio =====

# Visual Studio workspace/cache
.vs/
*.VC.db
*.VC.opendb
*.ipch

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.VC.opendb
*.VC.db-wal
*.VC.db-shm

# Build outputs
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Visual C++ intermediate/build metadata
*.vcxproj.FileListAbsolute.txt
